@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f2f5;
  background-image:
    radial-gradient(circle at 1px 1px, #d1d5db 1px, transparent 0),
    radial-gradient(circle at 10px 10px, #d1d5db 1px, transparent 0);
  background-size: 20px 20px;
}